@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Role Details";
}

<section id="rolespage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" style="padding-top:2em; padding-bottom:2em;">
    <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="col-md-4">
            <p>
                <strong>Name of Role: </strong><br/>
                @Html.DisplayFor(model => model.Name)
            </p>
        </div>
        <div class="col-md-8">
            <p>List of users in this role</p>
            @if (ViewBag.UserCount == 0)
            {
                
                <p>No users found in this role.</p>
            }

            <table class="table">

                @foreach (var item in ViewBag.Users)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                    </tr>
                }
            </table>
        </div>
        <p style="padding-left:1em;font-size:medium;">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>





