@model FinalProject.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

<section id="rolespage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="padding-top:2em; padding-bottom:2em;">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-top:2em;">
                    <input type="submit" value="Save" class="btn btn-default" style="color:#00a5b8" />
                </div>
            </div>
            <div style="padding-top:2.5em;">
                <strong style="font-size:medium;">@Html.ActionLink("Back to List", "Index")</strong>
            </div>
        </div>


    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
