@model FinalProject.DATA.EF.PetAsset

@{
    ViewBag.Title = "Create A New Pet Profile";
}

<section id="petassetpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>


@using (Html.BeginForm("Create", "PetAssets", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container" style="padding-top:2em; padding-bottom:2em;">
        <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
            <div class="col-md-4">
                <strong>@Html.DisplayNameFor(model => model.PetPhoto): </strong><br />
                <img src="~/Content/img/PetAssetsPics/noimage.png" style="width:150px; height:150px;"/>
                <div class="col-md-10">
                    @Html.LabelFor(model => model.PetPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10"><input type="file" name="petimage" /></div>
                </div>
            </div>
            <div class="form-horizontal" style="padding-left:10em;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PetName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PetName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PetName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    Notes/Packages
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="background-color:transparent; color:#00a5b8">
                        <input type="submit" value="Create" class="btn btn-default" style="color:#00a5b8;"/>
                        <strong style="font:bolder !important;font-size:medium;">@Html.ActionLink("Cancel", "Index", new { @class = "btn btn-default" })</strong>
                    </div>

                </div>
                
            </div>
        </div>
    </div>


    

    

    


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
