@model FinalProject.DATA.EF.PetAsset

@{
    ViewBag.Title = "Delete " + Model.PetName;
}

<section id="petassetpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

<h2 style="color:#00a5b8;">Are you sure want to delete @Model.PetName?</h2>
<div class="container" style="padding-top:2em; padding-bottom:2em;">
    <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="col-md-4">
            <p>
                <strong>@Html.DisplayNameFor(model => model.PetPhoto): </strong><br />
                <img src="~/Content/img/PetAssetsPics/@Model.PetPhoto" style="width:200px;height:200px;" />
            </p>
        </div>
        <div class="col-md-8">
            <p>
                <strong>@Html.DisplayNameFor(model => model.PetName)</strong>
                @Html.DisplayFor(model => model.PetName)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Notes)</strong>
                @Html.DisplayFor(model => model.Notes)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.IsActive)</strong>
                @Html.DisplayFor(model => model.IsActive)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.DateAdded)</strong>
                @Html.DisplayFor(model => model.DateAdded)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.UserDetail.FirstName)</strong>
                @Html.DisplayFor(model => model.UserDetail.FirstName)
            </p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style="color:#00a5b8;" /> |
                <strong style="font-size:medium;">@Html.ActionLink("Back to List", "Index")</strong>
                    
            </div>
            }
        </div>
    
    </div>
</div>


