@model IEnumerable<FinalProject.DATA.EF.PetAsset>

@{
    ViewBag.Title = "Pet Information";
}

<section id="petassetpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

@if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
{
    <p style="padding-top: 2em;">
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Pet Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            Notes/Package
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { @id = item.PetAssetId })"><img src="@Url.Content("~/Content/img/PetAssetsPics/" + item.PetPhoto)" alt="@item.PetPhoto" style="width:100px; height: 100px;" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.FullName)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PetAssetId })|
            @Html.ActionLink("Details", "Details", new { id = item.PetAssetId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PetAssetId })

        </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PetAssetId })

                @Html.ActionLink("Details", "Details", new { id = item.PetAssetId })
            </td>
         

        }
        

        


    </tr>
        }

</table>
