@model FinalProject.DATA.EF.Reservation

@{
    ViewBag.Title = "Edit Reservation";
}

<section id="reservationpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top:2em; padding-bottom:2em;">
        <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:70%;margin:auto;padding-top:1em;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReservationId)
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.LocationId, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PetAssetId, "Pet Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownList("PetAssetId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PetAssetId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding-left:2em;">
                <div class="col-md-offset-12 col-md-10">
                    <input id="save" type="submit" value="Save" class="btn btn-default" style="color:#00a5b8;" />
                </div>
                <strong style="font-size:medium;">@Html.ActionLink("Back to List", "Index")</strong>
            </div>
        </div>
    </div>

}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {
            $("#ReservationDate").datepicker({ changeMonth: true, });
        });
    </script>
    <script>
        $(function () {

            @if (ViewBag.ErrorMessage != null)
            {
            <text>
             alert("This date is full for this location. Please choose another date and(or) location.");

              </text>
             }
        });

    </script>



}
