@model IEnumerable<FinalProject.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservation";
}
<style>


    .searchTerm {
        border: 3px solid #00a5b8;
        padding-top: 2em;
        padding: 5px;
        height: 30px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: #00a5b8;
        }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00a5b8;
        background: #00a5b8;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<section id="reservationpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

@if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
{
    <p style="padding-top: 2em; ">
        @Html.ActionLink("Create New Reservation", "Create")
    </p>
}
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <div style="padding-top:2em; padding-bottom:1.5em;">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Location">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetAsset.PetName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAsset.PetName)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Pet Owner"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
                </td>
            }


        </tr>
    }

</table>
