@model FinalProject.DATA.EF.Location

@{
    ViewBag.Title = "Delete Location";
}

<section id="locationpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

<h2 style="color:#00a5b8;">Are you sure want to delete this location?</h2>
<div class="container" style="padding-top:2em; padding-bottom:2em;">
    <div  class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:40%;margin:auto;padding-top:1em; padding-bottom:1em;">
        <div class="col-md-4">
            <p>
                <strong>@Html.DisplayNameFor(model => model.LocationName)</strong>
                @Html.DisplayFor(model => model.LocationName)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.ReservationLimit)</strong>
                @Html.DisplayFor(model => model.ReservationLimit)
            </p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> 
                    <strong style="font-size:medium;">@Html.ActionLink("Back to List", "Index")</strong>
                </div>
            }
        </div>
        <div class="col-md-8">
            <p>
                <strong>@Html.DisplayNameFor(model => model.Address)</strong>
                @Html.DisplayFor(model => model.Address)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.City)</strong>
                @Html.DisplayFor(model => model.City)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.State)</strong>
                @Html.DisplayFor(model => model.State)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.ZipCode)</strong>
                @Html.DisplayFor(model => model.ZipCode)
            </p>
 
        </div>
    </div>
</div>
