@model FinalProject.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Delete User";
}

<section id="userpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section><h3>Are you sure you want to delete this User?</h3>
<div  class="container" style="padding-top:2em; padding-bottom:2em;">
    <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:50%;margin:auto;padding-top:1em;">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.UserName)</strong>
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class="col-md-8" style="padding-left:5em;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> 
                    <strong style="font-size:medium">@Html.ActionLink("Back to List", "Index")</strong>
                </div>
            }
        </div>     
    </div>
</div>
