@model FinalProject.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<section id="userpage" class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
            <div class="about-content col-lg-12">
                <h6 class="text-white">Grooming For all pets of all Sizes</h6>
                <h1 class="text-white">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>
<div class="container" style="padding-top:2em; padding-bottom:2em;">
    <div class="row" style="border:solid #00a5b8 2px;background-color:lightgray;width:60%;margin:auto;padding-top:1em;">
        <div class="col-md-4">
            <p>
                <strong>@Html.DisplayNameFor(model => model.UserName)</strong>
                @Html.DisplayFor(model => model.UserName)
            </p>
            <p style="font-size:medium;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-md-8">
            <p>List of roles for this user</p>
            @if (ViewBag.RoleNames.Count == 0)
            {
                <hr />
                <p>No roles found for this user.</p>
            }

            <table class="table">

                @foreach (var item in ViewBag.RoleNames)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
    



